{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
    {% if title %}
    {{title}}
    {%else%}
    <title>Pro-photo</title>
    {%endif%}

    {%block styles%}
      {%bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    {%endblock%}
  </head>
  <body>

    {%block content%}
    {% include "navbar.html" %}
    {%endblock%}

    {% block scripts %}
          <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
       {% bootstrap_javascript %}
      {% endblock %}

  </body>
</html>