{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if categorys%}
      <h2>Found {{ categorys|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if categorys %}
    {% for category in categorys %}
      <div class="col-sm-6 col-md-3">
          <h1>{{category.image_category}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}